<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>My First Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>


        <div class="home">
          {% if data %}

              <p> <h2> You were born on day {{day}} in month {{month}} and your horoscope for {{data['current_date']}} is:</h2></p>
              <p> Mood: {{data['mood']}} </p>
              <p> Colour: {{data['color']}}</p>
              <p> Lucky Number: {{data['lucky_number']}}</p>
              <p> Horoscope: {{data['description']}}</p>

          {% else %}

          <p>Sorry, I don't know your horoscope.</p>

          {% endif %}

        </div>

    </body>
</html>
